body {
    background-color: #FFF4F4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10vw;
}

.signup-container {
    width: 100%;
    max-width: 400px;
    background: #F7E6C4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #606C5D;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form select {
    background-color: #FFF4F4;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #606C5D;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.signup-form p {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: #606C5D;
    font-size: 14px;
}

.signup-form select {
    color: #606C5D;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background: #F1C376;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signup-form button:hover {
    background: #db6337;
}

.terms {
    display: block;
    text-align: left;
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.terms a {
    color: #FF6347;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.signup-form p a {
    color: #FF6347;
    text-decoration: none;
}

.signup-form p a:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {
    .signup-container {
        padding: 15px;
    }

    .container img {
        width: 120px;
    }
}
